@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  outline: none;
}

ul{
  padding: 0 !important;
}
